---
html_class: layout-landing
title_tag: Eson Paguia
---

{% include head.html %}

  <link href='/assets/landing.css' rel='stylesheet' type='text/css'>

{% include body.html %}

  <div class='content'>
    {{ content }}
    <div class='links'>
      <a href="https://twitter.com/esonpaguia">
        <i class='ion-social-twitter-outline'></i>
      </a>
      <a href="https://github.com/esonpaguia">
        <i class='ion-social-github-outline'></i>
      </a>
      <a href="http://ph.linkedin.com/in/esonpaguia">
        <i class='ion-social-linkedin'></i>
      </a>
    </div>
    <div class='signature'>
      &mdash; @esonpaguia
    </div>
    
  </div>

{% include end.html %}
